body {
    background-color: rgb(224, 247, 249);
    font-family: Comforta;
}

.container{
    width: 90%;
    max-width: 470px;
    background:rgb(255, 255, 255);
    color: darkblue;
    margin: 100px auto 0;
    border-radius: 5px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    overflow: hidden;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: rgb(232, 232, 232);
    padding: 0px;
    height: 60px;
    border-radius: 10px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
}
.search input:hover{
    transition-duration: 200ms;
    background-color:rgba(255, 255, 255, 0.738);
}


.search button{
    border: 0;
    outline: 0;
    height: 35px;
    width: 55px;
    background-color: rgb(224, 223, 223);
    padding-right: 5px;
    padding-top: 2px;
    border-radius: 30px;
    cursor: pointer;
    
}

.search button:hover{
    transition-duration: 200ms;
    background-color:rgba(255, 255, 255, 0.738);
}


.weather h1{
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 25px;
}

.weather h2{
    font-size: 65px;
    font-weight: 500;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
    border: solid 1px white;
    border-radius: 15px;
    background: rgb(224, 247, 249);
    box-shadow:5px 15px 35px rgb(68, 67, 67); ;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

/* fa decals */
#humid-wind{
    width: 40px;
    margin-right: 35px;
    height: 20px;
    font-size: 3.7em;
    justify-content: center;
    margin-top: 15px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -30px;
    text-align: center;
    margin-bottom: 15px;
}

.col-text{
    font-size: 25px;
    margin-top: 15px;
}

.weather{
    display: none;
}

.error{
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 2em;
    display: none;
    padding-bottom: 0px;
    justify-content: center;
}